﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form asp-action="Send" asp-controller="Home">
        <input type="text" name="message" class="form-control" placeholder="Message" />
        <hr />
        <input type="text" name="number" class="form-control" placeholder="Phone Number" />
        <hr />
        <button class="btn btn-primary">Send</button>
    </form>
    <hr />
    <form asp-action="Call" asp-controller="Home">
        <input type="text" name="number" class="form-control" />
        <hr />
        <button class="btn btn-primary">Call</button>
    </form>
    @*<p>
        <button asp-action="Index" asp-controller="Calls">Calls</button>
    </p>*@
</div>
